.header {
	width: 100%;
	height: ;
	text-align: left;
	color: #333333;
}

.title-h0 {
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: -0.2px;
	text-align: left;
}
.title-h0 h1 {
	font-size: 30px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.3;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
}
}
.title-h0 .light {
	color: #ffffffe5;
}
.title-h0 .dark {
	color: #222222c0;
}
.sergey-kryukov-produ h1 {
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.2px;
	color: #ffffffe5;
}

.title-preview {
	font-size: 19px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
}
.title-preview .bold {
	font-weight: 800;
}
.title-preview .black {
	font-weight: black;
}
.title-preview .normal {
	font-weight: 400;
}

.synopsis {
	font-size: 19px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
}

.summary {
	font-size: 23px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: 0px;
	text-align: left;
	color: #333333;
}
.achievements {
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.35;
	letter-spacing: normal;
	text-align: left;
	color: #333333;
}

.achievements .bold {
	font-weight: 700;
  display: inline-block;
  padding-bottom: 6px;
}

.contact-link {
	font-size: 26px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: left;
	color: #0073FF;
} .contact-link .bold {
	font-weight: 800;
}
.contact-link:hover {
	color: #127DFF;
}
.contact-link:active {
	color: #006AEB;
}

.link {
	font-size: 19px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: left;
  text-decoration: none;
	color: #FFFD00;
} .link .bold {
	font-weight: 800;
}
.link:hover {
	color: #C3FF00;
}
.link:active {
	color: #AEFF2B;
}

span.interlines {
  display: inline-block;
  padding-bottom: 0px;
}
span.small {
  font-size: 17px;
  display: inline-block;
  padding-bottom: 0px;
}
