/*
@import url('https://fonts.googleapis.com/css?family=Rasa:300,400,500,600,700');
*/
/* @import url('https://fonts.googleapis.com/css?family=Overpass:200,300,700,900'); */
/* @import url('https://fonts.googleapis.com/css?family=Karla:400,700'); */
/*neutral*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,600,700,800,900&subset=latin-ext');
* {	font-family: 'Nunito Sans', sans-serif;}

.ctas-button {
	color: #444;
}
.ctas-button-2 {
	border: 1px solid #333;
}
.ctas-button {
	background: rgba(0,0,0,.1);
}
.ctas-button-2 {
	background: #444;
}
.ctas-input {
	background: rgba(0,0,0,.05)
}
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #B3BDD9;
}
/*text*/
.heading {
  font-size: 32px;
  line-height: 42px;
  font-weight: 200;
}
@media (max-width: 900px) {
.heading {
    font-size: 25px;
    line-height: 32px;
  }
}
.subheading {
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: #333;
}
@media (max-width: 900px) {
  .subheading {
    font-size: 32px;
    line-height: 42px;
  }
}

.paragraph2,
.paragraph {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
}
.heading + .subheading {
  margin-top: 30px;
}
.heading + .paragraph {
  margin-top: 30px;
}
.subheading + .paragraph {
  margin-top: 10px;
}
p.paragraph, p.paragraph2 {
  color: rgba(30,30,30,1);
}
h1.subheading span {
display: inline-block;
font-weight: 900;
}
@media (max-width: 900px) {
h1.subheading span {
display: inline-block;
}}
@media (max-width: 440px) {
h1.subheading span {
display: inline;
font-weight: 700;
}}





/* LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS LINKS */
.nav-link2,
.nav-link {
  text-decoration: none;
  font-size: 21px;
  line-height: 32px;
  color: #033EB4;
}
.nav-link2
{
	font-weight: 700;
  color: inherit;
}
.nav-link3
{
  text-decoration: none;
  font-size: 26px;
  line-height: 65px;
	font-weight: 800;
  color: #033EB4;
}
a.nav-link2:default {
	color:#6E00FF;
}
a.nav-link2:hover {
	color:#5922FF;
}
a.nav-link2:active {
	color:#3800E0;
}
a.nav-link3:default {
	color:#033EB4;
}
a.nav-link3:hover {
	color:#FFFD22; /* 5922FF */
}
a.nav-link3:active {
	color:#fff; /* 3800E0 */
}
.nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}






.ctas-input {
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.ctas-button {
	display: inline-block;
	margin: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button {
		margin: 10px 0 0 0;
	}
}.socialproof {
	padding: 90px 0;
}
.socialproof img {
	object-fit: cover;
	height: 45px;
	max-width: 100%;
	margin-bottom: 30px;
}
.socialproof .logos {
	flex-wrap: wrap;
}
@media (max-width: 900px) {
	.socialproof .flex {
		flex-direction: column;
	}
	.socialproof .col-6 {
		width: 100%;
	}
	.socialproof .logos {
		margin-top: 30px;
	}
	.socialproof .logos {
		flex-direction: row;
	}
	.socialproof img {
		object-fit: cover;
		height: 60px;
		max-width: 100%;
		margin-bottom: 30px;
	}
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}

.ctas-button {
	display: inline-block;
	height: 42px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
	color: black;
}
.ctas-button img,
.ctas-button span {
	display: inline-block;
	vertical-align: middle;
	opacity: .8;
}
.ctas-button img {
	height: 18px;
	margin-right: 10px;
}
