

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
header { padding: 40px 0; overflow: hidden;}
header .centerdevices { margin: 90px 0 0;}
@media (max-width: 900px) {
header .header {	padding: 20px 0;}
header .flex {	flex-direction: column;}
header .heading { margin-top: 60px;}
header .paragraph { margin-top: 30px;}
header .paragraph2 { margin-top: 0px;}
header .col-4,	header .col-8 { width: 100%;}
}
@media screen and (max-width: 900px) {
header { width: 100%; text-align: left; padding: 20px 0;}}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer { padding: 30px 0 30px;}
footer .footer-nav {	padding-top: 30px; flex-wrap: wrap;}
footer .nav-link { display: inline-block; margin: 0 10px;}
@media(max-width: 700px) { footer .footer-nav .col-3 { width: 50%;}}
@media(max-width: 500px) { footer .footer-nav .col-3 {	width: 100%;}}

/* SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT SLOT */
.slot {	padding: 50px 0; border-bottom: 0px solid rgba(0,0,0,.1);}
@media (max-width: 900px) {
.slot .sidedevices { min-height: inherit; margin-top: 60px;}
.slot .flex {	flex-direction: column;	}
.slot	.col-5,	.slot	.col-6 { width: 100%;}}
.slot {	padding: 90px 0; border-bottom: 0px solid rgba(0,0,0,.1);}
@media (max-width: 900px) {	.slot .sidedevices { min-height: inherit;	margin-top: 60px;}
.slot .flex { flex-direction: column;}
.slot	.col-5,	.slot	.col-6 { width: 100%;}}
.slot {	padding: 50px 0; border-bottom: 0px solid rgba(0,0,0,.1);}
@media (max-width: 900px) { .slot .sidedevices { min-height: inherit; margin-top: 60px;}
.slot .flex { flex-direction: column;}
.slot	.col-5, .slot .col-6 { width: 100%;}}
.slot {	padding: 50px 0; border-bottom: 0px solid rgba(0,0,0,.1);}
@media (max-width: 900px) { .slot .sidedevices { min-height: inherit; margin-top: 60px;}
.slot .flex { flex-direction: column;} .slot .col-5, .slot .col-6 { width: 100%;}}
