@charset "UTF-8";
/* CSS Document */

body { height:100%; font-family:Helvetica, Arial, sans-serif; font-size:1.2em; background:#011d2f url(../images/northernlights-bg.png) top left repeat-x;  min-width:990px;}

a { color:#0096ff; text-decoration:none;} /* #0c72c1 */
a:visited { color:#0096ff;}
a:hover { text-decoration:underline;}

h1,h2,h3,h4,h5,h6 { font-family:Helvetica, Arial, sans-serif; font-weight:normal; color:#fff;}
h1 { font-size:1.8em;}
h2 { font-size:1.6em;} 

h3 { font-size:1.4em;}
h4 { font-size:1.3em;}
h5 { }
h6 { }
h1.title_text { width:490px; font-size:1em; margin-bottom:15px;}
h2 { font-size:1.2em; font-weight:bold; padding-bottom:10px;}

.header { position:relative; padding:15px 0px;}

.page-wrapper { position:relative; width:100%; height:100%; min-width:990px;}
.page-content { width:960px; margin:0px auto; position:relative; padding:0px 10px; top:0%; padding-bottom:30px; z-index:19;}

.page-404-text { position:absolute; top:40px; left:38%; /* margin-left:-80px; padding-left:80px;*/ font-size:24px; color:#fff; font-weight:lighter; text-decoration:none;}
.page-404-text:hover { color:#eee;}
.contacts-northernlights {
	position:absolute;
	top:596px;
	left:299px;
	z-index:30;
	font-size:14px;
	color:#fff;
	text-align:center;
	height: 50px;
}
.contacts-northernlights ul { list-style:none none;}
.contacts-northernlights ul li { padding:2px 0px; display:-moz-inline-stack; display:inline-block; vertical-align:top; margin-right:20px; zoom:1; *display:inline;}

.contacts-northernlights h1.title { font-size:32px; font-weight:normal;}
.contacts-northernlights h2 { font-weight:normal;}


/* Northern theme styles */
.sky-northernlights { position:absolute; top:189px; right:0px; width:100%; min-width:990px; height:82px; background:transparent url(../images/sea-surface-bg.png) top center repeat-x; z-index:2;}
.stars { position:absolute; display:block; top:0px; right:0px; width:100%; height:378px; background:url(../images/stars.png) top center repeat-x; z-index:1;}
.arcticbear-constellation {
	position:absolute;
	display:block;
	top:35px;
	left:43px;
	display:block;
	width:125px;
	height:110px;
	background:transparent url(../images/bear-constellation.png) top left no-repeat;
	z-index:30;
}
.horizon-northernlights { position:absolute; top:335px; left:15px; width:565px; height:43px; background:transparent url(../images/mountains.png) top left no-repeat; z-index:21;}
.ice-surface-northernlights { position:absolute; top:378px; right:0px; width:100%; min-width:990px; height:172px; background:transparent url(../images/ice-surface-bg.png) top center repeat-x; z-index:11;}
.ice-cut-northernlights { position:absolute; top:535px; right:0px; width:100%; min-width:990px; height:50px; background:transparent url(../images/ice-cut.png) top center repeat-x; z-index:12;}
.submarine-northernlights {
	position:absolute;
	top:618px;
	left:47px;
	width:322px;
	height:199px;
	background:transparent url(../images/submarine-northernlights.png) top left no-repeat;
	z-index:23;
}
.bear-northernlights {
	position:absolute;
	top:456px;
	left:726px;
	width:123px;
	height:124px;
	background:transparent url(../images/bear-northernlights.png) top left no-repeat;
	z-index:23;
}
.iglu {
	position:absolute;
	top:382px;
	left:68px;
	width:234px;
	height:143px;
	background:transparent url(../images/iglu.png) top left no-repeat;
	z-index:23;
}
.rocket {
	position:absolute;
	top:252px;
	left:68px;
	width:115px;
	height:277px;
	background:transparent url(../images/rocket.png) top left no-repeat;
	z-index:23;
}
.fish-northernlights { position:absolute; top:620px; left:660px; width:80px; height:64px; background:transparent url(../images/fish-northernlights.png) top left no-repeat; z-index:23; }
.sky-shine-northernlights { position:absolute; top:132px; left:0px; width:100%; height:246px; min-width:990px; z-index:2; opacity:0;}
div.sky-shine-northernlights { background:transparent url(../images/sky-shine-northernlights.png) top center no-repeat; opacity:1 !important;}
/*
.sky-shine-northernlights { position:absolute; top:132px; left:0px; width:100%; height:246px; min-width:990px; background:transparent url(../images/sky-shine-northernlights.png) top center no-repeat; z-index:3;}
*/

.northernlights { position:absolute; top:0px; left:140px; width:824px; height:378px; background:transparent url(../images/northernlights.png) top left no-repeat; z-index:4; border:none;}

.aurora, .aurora-2, .aurora-3, .aurora-4, .aurora-5, .aurora-6, .aurora-7, .aurora-8, .aurora-9  { position:absolute; top:0px; width:824px; height:378px; z-index:3; border:0; opacity:0;}
.aurora {}
.aurora-2 { left:128px;}
.aurora-3 { z-index:3;}
.aurora-4 { left:120px; top:30px;}
.aurora-7 { z-index:5;}
.aurora-9 { z-index:7;}

.text { font-family:Helvetica, Arial, sans-serif; font-size:28px; color:#fff; position:absolute; top:10px; right:15px; } 
.contactme { margin-top:20px; }
.title {
	position:absolute;
	top:409px;
	left:349px;
	z-index:30;
	font-size:14px;
	color:#fff;
	text-align:center;
}

.waiting-for-northernlights {
	font-size:24px;
	color:#fff;
	position:absolute;
	top:44px;
	right:52px;
	z-index:30;
}

.newyearis-project {
        position:relative;
	top:20px;
	left:114px;
	text-align:left;
	padding-bottom:50px;
}
.newyearis-project a { position:relative; padding-top:30px; padding-left:37px;}
.newyearis-project a span {
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:171px;
	height:28px;
	background:transparent url(../images/newyearis-project.png) top center no-repeat;
}
