@charset "UTF-8";
/* CSS Document */

html { height:100%; font-size:62.5%}

.min-width-404 { min-width:1000px;}

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0; font-family:Myriad-pro, Helvetica, Arial, sans-serif; overflow-y:scroll;}
fieldset, img { border:0;}
/* all list styles */
ul { list-style:inside; list-style-type:square;}

body { height:100%; font-family:Arial, Helvetica, sans-serif; font-size:1.2em; background:#26597a url(../images/page-bg.png) top left repeat-x;}

.contact-link { position:relative; padding-left:30px; text-align:center; line-height:26px; padding-top:4px;}
.contact-link span { position:absolute; top:0; left:0; width:24px; height:24px;}
.contact-link.flickr span { background:transparent url(../images/logos_flickr.png) 0 -2px no-repeat;}
.contact-link.twitter span { background:transparent url(../images/logos_twitter.png) left top no-repeat;}
.contact-link.gmail span { background:transparent url(../images/logos_gmail.png) left top no-repeat;}
.contact-link.linkedin span { background:transparent url(../images/linkedin-logo.png) 0 -1px no-repeat;}
.contact-link { color:#fff; text-decoration:none;}
.contact-link:visited { color:#fff;}
.contact-link:hover { text-decoration:underline;}

.comingsoon { color:#fff; text-align:center; font-size:14px;}

a { color:#0c72c1; text-decoration:none;}
a:visited { }
a:hover { text-decoration:underline;}

h1,h2,h3,h4,h5,h6 { font-family:Helvetica, Arial, sans-serif; font-weight:normal; color:#000;}
h1 { font-size:1.8em;}
h2 { font-size:1.6em;}
h3 { font-size:1.4em;}
h4 { font-size:1.3em;}
h5 { }
h6 { }
h1.title_text { width:490px; font-size:1em; margin-bottom:15px;}
h2 { font-size:1.2em; font-weight:bold; padding-bottom:10px;}

.w600px { width:600px;}

.header { position:relative; padding:15px 0px;}

.page-wrapper { position:relative; width:100%; height:100%; background:transparent;}
.page-content { width:200px; margin:0px auto; position:relative; padding:0px 10px; top:30%; padding-bottom:30px;}

.logo { display:block; width:200px; height:148px; background:transparent url(../images/arcticbear-logo.png) center center no-repeat;}
.logo-2 { position:absolute; top:40px; left:40px; display:block; width:145px; height:23px; background:transparent url(../images/logo.png) top left no-repeat; z-index:0;}
.logo-circle { position:absolute; top:35px; left:35px; display:block; width:196px; height:75px; background:transparent url(../images/site-logo-circle.png) top left no-repeat; z-index:0;}

.page-404-text { position:absolute; top:40px; left:36%; /* margin-left:-80px; padding-left:80px;*/ font-size:24px; color:#fff; font-weight:lighter; text-decoration:none;}
.page-404-text:hover { color:#eee;}
.contacts { position:absolute; top:330px; left:15%; z-index:10; font-size:14px;}
.right-contacts { position:absolute; top:330px; right:10%; z-index:10; font-size:14px;}
.right-contacts ul, .contacts ul { list-style:none none;}
.right-contacts ul li,.contacts ul li { padding:2px 0px;}
.horizon { position:absolute; top:146px; left:15px; width:565px; height:44px; background:transparent url(../images/horizon.png) top left no-repeat;  z-index:3;}
.horizon-404 { position:absolute; top:146px; left:25%; width:565px; height:44px; background:transparent url(../images/404-page-horizon.png) top left no-repeat;  z-index:3;}
.sea-surface { position:absolute; top:189px; right:0px; width:100%; min-width:576px; height:82px; background:transparent url(../images/sea-surface-bg.png) top center repeat-x; z-index:4;}
.boat { position:absolute; top:129px; left:2%; width:381px; height:111px; background:transparent url(../images/boat.png) top left no-repeat;  z-index:5;}
.boat-404 { position:absolute; top:129px; left:43%; width:381px; height:111px; background:transparent url(../images/404-page-boat.png) top left no-repeat;  z-index:5;}
.iceberg-top { position:absolute; top:90px; right:64px; width:311px; height:150px; background:transparent url(../images/iceberg-top.png) top left no-repeat;  z-index:6;}
.iceberg-bottom { position:absolute; top:220px; right:0px; width:576px; height:667px; background:transparent url(../images/iceberg-bottom.png) top left no-repeat; z-index:0; margin-bottom:150px;}
.submarine { position:absolute; top:500px; left:7%; width:412px; height:240px; background:transparent url(../images/submarine.png) top left no-repeat; z-index:0;}
.fish { position:absolute; top:290px; left:45%; width:74px; height:34px; background:transparent url(../images/fish.png) top left no-repeat; z-index:8; }
.tv { position:absolute; top:50px; right:115px; width:250px; height:170px; background:transparent; z-index:11;}

.christmas-boat { position:absolute; top:129px; left:7%; width:379px; height:111px; background:transparent url(../images/christmas-boat.png) top left no-repeat;  z-index:5;}
.christmas-iceberg-top { position:absolute; top:55px; right:64px; width:311px; height:185px; background:transparent url(../images/christmas-iceberg-top.png) top left no-repeat;  z-index:6;}
.christmas-logo { position:absolute; display:block; top:30px; left:30px; width:196px; height:75px; background:transparent url(../images/christmas-logo.png) top right no-repeat;}
.ufo { position:absolute; top:350px; right:90px; width:125px; height:123px; background:transparent url(../images/ufo.png) top left no-repeat; z-index:8; }
.wishes { position:absolute; top:340px; left:60px; width:270px; height:91px; background:transparent url(../images/wishes.png) top left no-repeat; z-index:8; }


.iemustdie {
	position:absolute;
	top:385px;
	left:720px;
	width:102px;
	height:85px;
	background:transparent url(../images/iemustdie.png) top left no-repeat;
	z-index:15;
	display:none;
}
.poehali {
	position:absolute;
	top:385px;
	left:740px;
	width:102px;
	height:85px;
	background:transparent url(../images/poehali.png) top left no-repeat;
	z-index:15;
}

.previous-version { position:relative; padding-left:20px; top:150px; left:80px; text-align:left; padding-bottom:25px; color:#fff;}
.previous-version span { position:absolute; top:-2px; left:0; color:#fff;}
.previous-version:hover span { color:#a1cce8;}
.previous-version a, .previous-version a:visited { color:#fff; text-decoration:none;}
.previous-version a:hover { text-decoration:none; color:#a1cce8 !important;}

.next-version-wrapper { position:absolute; top:15px; right:15px;}
.next-version { position:relative; padding-right:20px; text-align:left;}
.next-version span { position:absolute; top:-2px; right:0; color:#fff;}
.next-version:hover span { color:#eee;}
.next-version a, .previos-version a:visited { color:#fff; text-decoration:none;}
.next-version a:hover { text-decoration:none; color:#eee;}



/* float clearing for IE6 */
* html .clearfix { height:1%; overflow:visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height:1%;}
/* for IE/Mac */
.clearfix {display:inline-block; width:100%; height:0px;}
/* float clearing for everyone else */
.clearfix:after{ clear:both; content:"."; display:block; height:0px; visibility:hidden;}