.header {
width: 100%;
text-align: left;
margin-top: 30px;
margin-bottom: 30px;
}
.title {
font-size: 30px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
.title h1 {
font-size: 36px;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 50px;
margin-bottom: 60px;
}
h2.title {
font-size: 26px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 0px;
margin-bottom: 50px;
max-width: 500px;
}
.light {
color: #fff !important;
}
.dark {
color: #222 !important;
}
.name {
font-size: 36px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}





@media screen and (max-width: 900px) {
.header {
width: 100%;
text-align: left;
margin-top: 20px;
margin-bottom: 20px;
}
.title {
font-size: 24px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
.title h1 {
font-size: 28px;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 50px;
margin-bottom: 60px;
}
h2.title {
font-size: 24px;
font-weight: 700;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 0px;
margin-bottom: 20px;
}
.light {
color: #fff !important;
}
.dark {
color: #222 !important;
}
.name {
font-size: 30px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
}



@media screen and (max-width: 500px) {
.header {
width: 100%;
text-align: left;
margin-top: 15px;
margin-bottom: 15px;
}
.title {
font-size: 24px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
.title h1 {
font-size: 24px;
font-weight: 800;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 35px;
margin-bottom: 40px;
}
h2.title {
font-size: 22px;
font-weight: 700;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 0px;
margin-bottom: 25px;
}
.light {
color: #fff !important;
}
.dark {
color: #222 !important;
}
.name {
font-size: 28px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
}



@media screen and (max-width: 375px) {
.header {
width: 100%;
text-align: left;
margin-top: 15px;
margin-bottom: 15px;
}
.title {
font-size: 22px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
.title h1 {
font-size: 22px;
font-weight: 800;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 35px;
margin-bottom: 35px;
}
h2.title {
font-size: 20px;
font-weight: 700;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 0px;
margin-bottom: 25px;
}
.light {
color: #fff !important;
}
.dark {
color: #222 !important;
}
.name {
font-size: 28px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
}



@media screen and (max-width: 320px) {
.header {
width: 100%;
text-align: left;
margin-top: 15px;
margin-bottom: 15px;
}
.title {
font-size: 20px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
.title h1 {
font-size: 22px;
font-weight: 800;
font-style: normal;
font-stretch: normal;
line-height: 1.3;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 35px;
margin-bottom: 35px;
}
h2.title {
font-size: 20px;
font-weight: 700;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: left;
color: #393939;
margin-top: 0px;
margin-bottom: 15px;
}
.light {
color: #fff !important;
}
.dark {
color: #222 !important;
}
.name {
font-size: 30px;
font-weight: 400;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: -0.2px;
text-align: left;
}
}




.title-preview {
font-size: 19px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #222222;
}
.title-preview .bold {
font-weight: 800;
}
.title-preview .black {
font-weight: black;
}
.title-preview .normal {
font-weight: 400;
}

.synopsis {
font-size: 19px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.4;
letter-spacing: normal;
text-align: left;
color: #222222;
}
span.indention {
display: inline-block;
padding-bottom: 10px;
}

.summary {
font-size: 23px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.44;
letter-spacing: 0px;
text-align: left;
color: #333333;
}
.achievements {
font-size: 17px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.35;
letter-spacing: normal;
text-align: left;
color: #333333;
}
.achievements .bold {
font-weight: 700;
padding-bottom: 10px;
}
.achievements p {
padding-bottom: 10px;
}
.achievements p.small {
font-size: 17px;
}
.achievements ul {
margin-left: 0;
padding-left: 1em;
list-style-type: none;
list-style-position: outside;
}
.achievements ul li {
list-style-type: circle;
padding-bottom: 10px;
}

.references .bold {
font-weight: 700;
padding-bottom: 10px;
}
.references {
font-size: 17px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.35;
letter-spacing: normal;
text-align: left;
color: #333333;
}
.references span {
display: inline-block;
}
.references p {
padding-bottom:10px;
}
.references a {
margin-left:1em;
}


p.contact-link {
display: inline-block;
text-decoration: none;
font-size: 36px;
font-weight: 900;
line-height: 60px;
font-style: normal;
font-stretch: normal;
line-height: 1.15;
letter-spacing: normal;
text-align: left;
color: #033EB4;
padding-top: 10px;
padding-bottom: 10px;
}
p.contact-link a {
text-decoration: none;
color: #033EB4;
}
p.contact-link a:hover {
color: #FFFD22;
}
p.contact-link a:active {
color: #fff;
}
p.contact-link a.thin {
font-weight: 400;
}

@media screen and (max-width: 900px) {
p.contact-link {
display: inline-block;
text-decoration: none;
font-size: 28px;
font-weight: 900;
line-height: 60px;
font-style: normal;
font-stretch: normal;
line-height: 1.15;
letter-spacing: normal;
text-align: left;
color: #033EB4;
padding-top: 10px;
padding-bottom: 10px;
}
p.contact-link a {
text-decoration: none;
color: #033EB4;
}
p.contact-link a:hover {
color: #FFFD22;
}
p.contact-link a:active {
color: #fff;
}
p.contact-link a.thin {
font-weight: 400;
}
}


@media screen and (max-width: 500px) {
p.contact-link {
display: inline-block;
text-decoration: none;
font-size: 24px;
font-weight: 900;
line-height: 36px;
font-style: normal;
font-stretch: normal;
line-height: 1.15;
letter-spacing: normal;
text-align: left;
color: #033EB4;
padding-top: 10px;
padding-bottom: 10px;
}
p.contact-link a {
text-decoration: none;
color: #033EB4;
}
p.contact-link a:hover {
color: #FFFD22;
}
p.contact-link a:active {
color: #fff;
}
p.contact-link a.thin {
font-weight: 400;
}
}


@media screen and (max-width: 375px) {
p.contact-link {
display: inline-block;
text-decoration: none;
font-size: 24px;
font-weight: 900;
line-height: 36px;
font-style: normal;
font-stretch: normal;
line-height: 1.15;
letter-spacing: normal;
text-align: left;
color: #033EB4;
padding-top: 10px;
padding-bottom: 10px;
}
p.contact-link a {
text-decoration: none;
color: #033EB4;
}
p.contact-link a:hover {
color: #FFFD22;
}
p.contact-link a:active {
color: #fff;
}
p.contact-link a.thin {
font-weight: 400;
}
}


@media screen and (max-width: 320px) {
p.contact-link {
display: inline-block;
text-decoration: none;
font-size: 22px;
font-weight: 900;
line-height: 30px;
font-style: normal;
font-stretch: normal;
line-height: 1.15;
letter-spacing: normal;
text-align: left;
color: #033EB4;
padding-top: 10px;
padding-bottom: 10px;
}
p.contact-link a {
text-decoration: none;
color: #033EB4;
}
p.contact-link a:hover {
color: #FFFD22;
}
p.contact-link a:active {
color: #fff;
}
p.contact-link a.thin {
font-weight: 400;
}
}




a.link {
display: inline-block;
font-size: 17px;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 1.25;
letter-spacing: normal;
text-align: left;
text-decoration: none;
color: #033EB4;
}
a.link:default {
color: #033EB4;
}
a.link:hover {
color: #FFFD22; /* 5922FF */
}
a.link:active {
color: #fff; /* 5922FF */
}
a.link .bold {
font-weight: 800;
}
a.link span {
color: #3348B0;
font-weight: 500;
}
a.link:hover span {
color: #FFF037;
}
a.link:active span {
color: #fff;
}

span.interlines, p.interlines {
display: inline-block;
padding-bottom: 5px;
}
span.small, p.small {
font-size: 17px;
display: inline-block;
padding-bottom: 0px;
}
span.tiny, p.tiny {
display: block;
font-size: 18px;
line-height: 1.1;
font-weight: 400;
}
span.tiny.first {
padding-top: 4px;
}
.contact-link a span.tiny {
color: #3348B0;
}
.contact-link a:hover span.tiny {
color: #FFF037;
}
.contact-link a:active span.tiny {
color: #fff;
}
